variables:
  VERSION: "$AIMP_VERSION.$CI_JOB_ID"

stages:
  - analysis_start
  - build
  - analysis_end
  - zip_publish

analysis_start:
  stage: analysis_start
  script:
  - echo $env:CI_PROJECT_DIR
  - .\tools\ci-build\start-analysis.ps1 $env:CI_PROJECT_DIR\src\aimp_dotnet.sln $env:SONAR_PROJECT_KEY aimp_dotnet $env:VERSION $env:CI_COMMIT_REF_NAME

analysis_end:
  stage: analysis_end
  script: .\tools\ci-build\stop-analysis.ps1

build_master:
  only:
    - master
    - tags
  except:
    - develop
  stage: build
  script: .\tools\ci-build\build.ps1 $env:CI_PROJECT_DIR\src\aimp_dotnet.sln $env:VERSION $env:CI_COMMIT_REF_NAME Debug
  artifacts:
    paths:
      - src\Release\aimp_dotnet.dll
      - src\Release\AIMP.SDK.dll

build_develop:
  only:
    - develop
  except:
    - master
  stage: build
  script: .\tools\ci-build\build.ps1 $env:CI_PROJECT_DIR\src\aimp_dotnet.sln $env:VERSION $env:CI_COMMIT_REF_NAME Release
